<app-navbar [links]="links"></app-navbar>

<app-about-me></app-about-me>
<!--<hr style="max-width: 90%">-->
<!--<div style="padding-bottom: 10em"></div>-->
<hr style="width: 90%"/>
<h1 class="text-center">My Interests</h1>
<div class="container">
  <h2 class="text-center">Viola</h2>
  <div class="row">
    <div class="col-md-1 hide-on-small background-color">
    </div>
    <div class="col-md-6">
      <p>I began playing viola in 6th grade and still play today. I put most of my performances on my
        <a href="https://www.youtube.com/user/rschuckit" target="_blank">YouTube Channel</a>.</p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/images/viola_playing.jpg"/>
    </div>
  </div>
</div>

<!--<hr style="width: 90%; position: sticky"/>-->
<hr style="width: 90%"/>

<div class="container">
  <h2 class="text-center">Aviation</h2>
  <div class="row">
    <div class="col-md-5">
      <img src="../../assets/images/flying.jpg"/>
    </div>
    <div class="col-md-6">
      <p>Ever since I was little I'd been obsessed with aviation. I was lucky to pursue pilot training and
        received my private pilot license before going off to college.</p>
    </div>
    <div class="col-md-1 hide-on-small" style="background-color: #025E73"></div>
  </div>
</div>

<hr style="width: 90%"/>
<div class="container">
  <h2 class="text-center">Coding</h2>
  <div class="row">
    <div class="col-md-1 hide-on-small" style="background-color: #BDD9B0"></div>
    <div class="col-md-6">
      <p>I took my first computer science course in high school and stayed with it all through college and into
        my professional life. This site is a testing ground I use to try out cool things, including over the top things
        for a personal website like CI/CD. Visit the 'About this Site' page to learn more.</p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/images/software-engineering.jpg"/>
    </div>
  </div>
</div>

