<app-about-me></app-about-me>

<div class="mt-5"></div>

<app-interest count="0" imageFileName="viola_playing.jpg" title="Viola">
  <p>
    I began playing viola in 6th grade and still play today. I put most of my performances on my
    <a href="https://www.youtube.com/user/rschuckit" target="_blank">YouTube Channel</a>.
  </p>
</app-interest>

<app-interest count="1" imageFileName="flying.jpg" title="Aviation">
  <p>
    Ever since I was little I'd been obsessed with aviation. I was lucky to pursue pilot training and
    received my private pilot license before going off to college.
  </p>
</app-interest>

<app-interest count="2" imageFileName="software-engineering.jpg" title="Coding">
  <p>
    I took my first computer science course in high school and stayed with it all through college and into
    my professional life. This site is a testing ground I use to try out cool things, including over the top things
    for a personal website like CI/CD. Visit the 'About this Site' page to learn more.
  </p>
</app-interest>
