<app-about-me></app-about-me>

<div class="mt-5"></div>

<h1 class="text-center">My Interests</h1>

<app-interest imageFileName="viola.jpg" title="Viola">
  <p class="text-sm-center text-md-left">
    I began playing viola in 6th grade and still play today. I put most of my performances on my
    <a href="https://www.youtube.com/user/rschuckit" rel="noopener" target="_blank">YouTube Channel</a>.
  </p>
</app-interest>

<app-interest imageFileName="flying.jpg" title="Aviation">
  <p class="text-sm-center text-md-left">
    Ever since I was little I've been obsessed with aviation. I was lucky to pursue pilot training and received my
    private pilot license before going off to college.
  </p>
</app-interest>

<app-interest imageFileName="software-engineering.jpg" title="Coding">
  <p class="text-sm-center text-md-left">
    I took my first computer science course in high school and stayed with it all through college and into my
    professional life. This site is a testing ground I use to try out cool things, including over the top things for a
    personal website like CI/CD. Visit the 'About this Site' page to learn more.
  </p>
</app-interest>

<hr/>
<h1 class="text-center">Blog Posts</h1>
<div class="container d-flex justify-content-center pb-3">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Web Workers - A Contrived Example</h5>
      <p class="card-text">Showing why web workers are useful, with an example.</p>
      <a [routerLink]="['/blog', 'webworker']" class="btn btn-primary">Read</a>
    </div>
  </div>
</div>
